* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


header {
    background-color: #B3E5FC;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.Menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    color: #ffffff;
    align-content: center;

}

.Menu li {
    margin-right: 50px;
}

.img_top {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 20px;
    height: 20px;
}

.img_top #whatsapp {
    margin-right: 135px;
    width: 30px;
}

.img_top #insta {
    margin-right: 185px;
    width: 30px;
}

.logo_top {
    display: flex;
    justify-content: center;
    margin-left: 0;
    background-image: url(https://media.istockphoto.com/photos/dreamy-banner-with-pink-clouds-on-light-blue-sky-picture-id1179114935?k=20&m=1179114935&s=170667a&w=0&h=N9ZAmP2vwzi1xIscZiJMXn1Mp4ksUOxi5QbOMwClPu8=);
    background-repeat: no-repeat;
    background-size: cover;
}


.search {
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;

}

#divBusca {
    background-color: #B3E5FC;
    border: solid 1px;
    border-radius: 15px;
    width: 800px;
    height: 40px;

}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 40px;
    width: 800px;
    border-radius: 15px;
}



.contener {
    display: flex;
    background-color: #C2E8EC;
    border-radius: 20px;
    flex-direction: column;
    height: 1200px;
    width: 200px;
    border: 2px solid #757575;
    justify-content: center;



}

.menu_esquerda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
    flex-wrap: wrap;

}

.menu_esquerda ul li {
    list-style: none;
    margin-bottom: 100px;
    padding: 5px;
    display: block;

}

.menu_esquerda a {
    color: #ffffff;
    font-weight: bold;
}

.menu_esquerda li a:hover {
    background-color: #757575;
    border: 1px solid #000000;
}

.itens_vendas {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin-left: 10px;
    padding: 50px;
}